/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow-y: auto;
  color: var(--themes-main-color);
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--card-text-weight, 400);
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px 0px 100px;
  border: var(--main-border);
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) 0 clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem);
  font-family: var(--accent-font-family);
  font-weight: var(--card-text-weight);
  line-height: normal;
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.header-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-title {
  display: flex;
  justify-content: center;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  display: grid;
  gap: 50px;
  padding: 0;
}

.content-section {
  width: clamp(320px, 100%, 696px);
}

.post-block {
  display: flex;
  flex-direction: column;
  border: var(--main-border);
  background-color: var(--bg-color);
}

.post-title {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin: 5px 10px 5px;
  font-size: var(--font-size);
  font-variation-settings: 'wght' var(--card-header-weight,700);
}

.card-label {
  position: relative;
  display: grid;
  transition: filter 2s ease;
}

.watermark {
  position: absolute;
  right: 0;
  z-index: 2;
  opacity: 0.5;
  color: var(--themes-main-color, #000);
  font-family: var(--accent-font-family);
  font-weight: var(--card-text-weight);
  font-size: 14px;
  text-transform: lowercase;
  inset-block-start: 25px;
  inset-inline-end: clamp(11px, 1.7vw, 25px);
 -webkit-text-stroke: 1px var(--text-shadow, #fff);
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--text-shadow, #fff)) {
  .watermark {
    text-stroke: 1px var(--text-shadow, #fff);
  }
}

@supports (not (property: text-stroke)) {
  .watermark {
    text-shadow: 0 0 1px var(--text-shadow, #fff);
  }
}

.inspiration {
  -webkit-filter: invert(10%) sepia(20%) saturate(500%) hue-rotate(267deg) brightness(80%) contrast(100%);
  filter: invert(10%) sepia(20%) saturate(500%) hue-rotate(267deg) brightness(80%) contrast(100%);
}

.fear {
  -webkit-filter: invert(30%);
  filter: invert(30%);
}

.happy {
  -webkit-filter: sepia(0.3) saturate(300%);
  filter: sepia(0.3) saturate(300%);
}

.ideal {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.family {
  -webkit-filter: hue-rotate(300deg);
  filter: hue-rotate(300deg);
}

.rethinking {
  -webkit-filter: brightness(.5);
  filter: brightness(.5);
}

.self-discipline {
  -webkit-filter: grayscale(100%) drop-shadow(16px 16px 10px black);
  filter: grayscale(100%) drop-shadow(16px 16px 10px black);
}

.development {
  -webkit-filter: saturate(200%);
  filter: saturate(200%);
}

.post-image {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  object-fit: cover;
}

.post-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content;
  gap: 25px;
  padding: 25px;
}

.post-text {
  grid-column: 1 / 3;
  text-shadow: 0 3px 3px rgba(133, 12, 247, 0.3);
  line-height: 21px;
}

.post-text p:not(:last-child) {
  margin-bottom: 27px;
}

.post-button {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.card__icon-button {
  display: grid;
  justify-content: center;
  align-items: end;
  border: none;
  padding: 0;
  color: inherit;
  text-decoration: none;
  background-color: var(--bg-color);
}

.card__icon-button:focus-visible {
  height: 34px;
  outline: var(--main-border);
}

.like-icon {
  cursor: pointer;
}

.contour {
  fill: var(--heart-color-contour);
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--heart-color-contour);
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-color-contour);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--heart-color-active);
  transition: fill 0.3s 0.03s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-color-active);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color-active);
  transition: fill 0.3s 0.06s linear forwards;
}

.like-icon.is-liked .core {
  fill: var(--heart-color-active);
  transition: fill 0.3s 0.06s linear forwards;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color-active);
  transition: fill 0.3s 0.06s linear forwards;
}

.heart {
  box-sizing: border-box;
  transform: scale(1);
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s forwards;
}

@keyframes heart-scale {
  from {
    transform: scale(1.05);
  }
  to {
    fill: var(--heart-color-active);
    transform: scale(1);
  }
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s 0.3s ease-in;
}

@keyframes change-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  border: var(--main-border);
  background-color: var(--bg-color);
}

.card__button {
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s;
}

.card__button::before {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--themes-main-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.card__button:hover::before {
  transform: translateX(0);
}

.button {
  position: relative;
  border: var(--main-border);
  overflow: hidden;
  color: var(--button-text-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 90%;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--themes-main-color);
  outline: none;
}

.button:not(:focus) {
  box-shadow: none;
}

.button__text {
  z-index: 1;
  white-space: nowrap;
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 105px;
}

.button_type_save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: clamp(15px, 2vw, 18px) clamp(20px, 2vw, 28px);

}

.button_type_save svg {
  position: relative;
  block-size: 1.5em;
  mix-blend-mode: difference;
}

dialog {
  position: fixed;
  inset: 0;
  display: grid;
  flex-direction: column;
  flex-wrap: wrap;
  grid-template-columns: min-content 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  max-width: 357px;
  border: var(--main-border);
  padding: 1.68em;
  background-color: var(--bg-color);
  transition: opacity 0.3s ease-in-out;
}

dialog .floppy {
  padding: 0;
  block-size: 2.17em;
  mix-blend-mode: none;
}

.ok {
  display: block;
  grid-column: 1 / -1;
  margin: 0 auto;
}

.dialog-button {
  width: 293px;
  height: 38px;
  border: var(--main-border);
  padding: 0;
  background-color: var(--bg-color);
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog h3 {
  color: var(--themes-main-color, #000);
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
}

dialog::backdrop {
  opacity: 0.75;
  background-color: var(--themes-main-color);
}

@media (width <= 375px) {
  .button_type_save {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .button_type_save svg {
    block-size: 2em;
  }
}