/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  justify-content: center;
  align-items: center;
  color: var(--themes-main-color);
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  background-color: var(--bg-color);
 /* background-repeat: repeat;*/
  background-position: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
 /* background-image: var(--bg-image);*/
  font-variation-settings: var(--card-text-weight);
 /* background-attachment: fixed;*/
}

.header {
  display: grid;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin: 100px 0px 100px;
  border: 2px solid var(--themes-main-color);
  font-family: var(--accent-font-family);
  font-weight: var(--card-text-weight);
  line-height: normal;
  text-transform: uppercase;
  background-color: #fff;
}

.header-title {
  padding: 120px 0 0;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.title-text {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  display: grid;
  gap: 50px;
  padding: 0;
}

.content-section {
  width: clamp(375px, 100%, 696px);
}

.post-block {
  display: flex;
  flex-direction: column;
  border: var(--main-border);
}

.post-title {
  align-self: stretch;
  font-weight: var(--card-header-weight);
  font-size: var(--font-size);
}

.post-image {
  /*
  min-height: 100%;
  object-fit: cover;
  inline-size: 100%;*/
  border-top: var(--main-border);
  
}


.post-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  gap: 25px;
  padding: 20px;
}

.post-text {
  grid-column: 1 / 3;
}

.post-button {
  grid-column: 2 / 2;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 12px;
}

.post-button svg {


}


button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 130px;
  height: 38px;
  padding: 9px 17px;
}



@media (min-width: 1140px) {
  /*.content-section {
    max-width: 696px;
  }*/
 /* .header {
    width: clamp(100%, 696px);
  }*/
  .header-title {
    margin-bottom: 8px;
    padding: 128px 0 0;
  }


}