/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family: 'Inter', sans-serif;
  --accent-font-family: 'PressStart2P', fantasy;
  --themes-main-color: #000;
  --font-size: 18px;
  --bg-color: #fff;
  --card-header-weight: 700;
  --card-text-weight: 400;
  --bg-image: url(../images/background.png);
  --main-border: 2px solid #000;
  --text-shadow: #fff;
  --bg-image: repeating-linear-gradient(to left, #d3d3d3 0 2px, #d3d3d300 2px 4px), repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px), linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --heart-color-contour: #000000;
  --heart-color-core: #fff;
  --heart-color-active: #FF0000;
  --button-text-color: #fff;
}