/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family: 'Inter', sans-serif;
  --accent-font-family: 'Press Start 2P';
  --text-color: ;
  --themes-main-color: #000;
  --font-size: 18px;
  --bg-color: #FFFFFF;
  --card-header-weight: 700;
  --card-text-weight: 400;
  --bg-image: url(../images/background.png);
  --main-border: 2px solid #000;
  --text-shadow: #fff;
  --bg-image: repeating-linear-gradient(to right, #d3d3d3 0px, transparent 0px,#d3d3d3 2px,transparent 2px),
              repeating-linear-gradient(to bottom, #d3d3d3 0px, transparent 0px,#d3d3d3 2px,transparent 2px),
              linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --heart-color-red: #FF0000;
  --heart-color-contour: #000000;
  --heart-color-core: #ffffff;
  --post-title-font-weight: 700;
  --button-text-color: #ffffff;
}
